<!DOCTYPE html>
<html lang="en">
<head><!--Any type of linking with css or javascript we do it using the head-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page | Home</title>
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/logo/favicon/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/logo/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/logo/favicon/favicon-16x16.png">
    <link rel="manifest" href="./assets/logo/favicon/site.webmanifest">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="../public/home.css">

</head>
<body>
    <!--The header is used to define the one constant in our website i.e. of course its header-->
    <div class="header">
        <div class="banner"></div>
    </div>
    <!--The nav is used to define the navigation bar through which we are going to connect other pages to our web page-->
    
    <nav>
        <!--We have linked as hash so that it doesn't show any error while running the code-->
        <a href="#">Home
            <!-- <select name="Home" id="Home">
                <option value="Value">
                    Our Founder
                </option>
            </select> -->
        </a>
        <a href="#">Courses</a>
        <a href="#" class="low">Study Material</a>
        <form action="/home" method="post">
            <input type="submit" class="right-align">Login/Signup</button>
        </form>
        <a href="#" class="high">About me</a>
    </nav>
    
    <!--Main Tag is used to edit the main content-->
    <main>
        <section>
            <h2 class="c1"> Web Courses</h2>
            <video src="Video\pexels-peter-fowler-6394054.mp4"width="33%" autoplay loop muted></video>
            <!-- I have not added controls -->
            <video src="Video\production ID_4812203.mp4"width="33%" loop muted autoplay></video>
            <video src="Video\pexels-rachel-claire-8856785.mp4"width="33%" loop muted autoplay></video>
        </section>
        <section>
            <h2  class="c2">College Reviews</h2>
            
            <div class="carousel" data-flickity='{ "autoPlay": true }'>
                <div class="carousel-cell"><iframe  src="https://www.youtube.com/embed/61ppyY5rUB0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                <div class="carousel-cell"><iframe  src="https://www.youtube.com/embed/61ppyY5rUB0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                <div class="carousel-cell"><iframe  src="https://www.youtube.com/embed/61ppyY5rUB0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </div>
        </section>
        <section class="ck">
            <h2 class="c3">Study Materials</h2>
            <a href="Study\Lecture 1 Tracing of curves in Cartesian coordinate.pdf" target="_blank"><img src="Study\Posts_multiple_3_1.png" alt="Image"  class="X" ></a>
            <a href="Study\Lecture 2 Tracing of parametric curves..pdf" target="_blank"><img src="Study\Posts_multiple_3.png" alt="Image"  class="X"></a>
            <a href="Study\Lecture 3 Tracing of curves in polar coordinates..pdf" target="_blank"><img src="Study\Posts_multiple_4.png" alt="Image" class="X"></a>
            <a href="Study\Lecture 3 Tracing of curves in polar coordinates..pdf" target="_blank"><img src="Study\Posts_multiple_5.png" alt="Image"  class="X"></a>
        </section>
        <section class="paadding">
            <h2 class="Found">
                Our Founder
            </h2>
            <img class="Circle" src="About Site\Founder\linkedin-sales-solutions-pAtA8xe_iVM-unsplash.jpg" alt="This is our Founder">
            <h3 class="Found">John Davidson</h3>
            <a href="https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqazhiZ1pLUFJDVGpibS1QVGo4QVpNX1ZjQU1XZ3xBQ3Jtc0trYXVJQ0hQbEE1RGw5NnRoLTlnN04wZXFxR0pNTkp3M3VKbG9ZQl9IbW1rR3l1ZHZvbEE1cTVOQ1RWM2pWWU1EYzJmWlFDRVBzNkpnNUhDRlBBbVFSZVNxRkF0eDNWU2hSWVJRVDlKekVlWDVFaWZtbw&q=https%3A%2F%2Fcodepen.io%2Fapnacollege%2Fpen%2FmdrmdEa&v=61ppyY5rUB0" target="_blank" rel="noopener noreferrer"> Mega Project</a>&nbsp;&nbsp;|&nbsp;&nbsp; 
            <a href="https://www.youtube.com/playlist?list=PLfqMhTWNBTe0b2nM6JHVCnAkhQRGiZMSJ" target="_blank" rel="noopener noreferrer">YouTube</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbXE1MXFReHpJSTB1M2s3MVRfaHA5SWJkRjlOQXxBQ3Jtc0tuZTlRZnREemctSU9rcW5DV3lHeWN3elZVZW9id1hEY1JDWEhUS1BmZWN3a2tEM0IwY096YWlpR3dtaG9pSXRVODB3TllxbjBCNk9jNHRRRTQ1VzNyZlpVT3V2SHhRZF9SN0pGUmdtR0VoWWNlMVNNRQ&q=https%3A%2F%2Ft.me%2Fapnikakshaofficial&v=61ppyY5rUB0" target="_blank" rel="noopener noreferrer"> Telegram</a>
            <h3 class="found1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, earum facilis! Voluptas hic cum nostrum dicta ratione eius delectus culpa.</h4>
            <h3 class="found12">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium molestias iusto sequi quasi obcaecati libero! Consectetur architecto labore inventore, magni sapiente amet harum molestias non exercitationem ex itaque culpa unde reiciendis eveniet natus repudiandae, tenetur rem accusantium. Impedit repudiandae error, est cupiditate amet sequi incidunt tempora consequatur beatae dolores debitis?</h5>
        </section>
    </main>
    <footer>x
        <a href="#">FAQ</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">Privacy Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">Terms of Use</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">Return Policy</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">Contact us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" class="copyw">&copy;&nbsp;2022 | Proto</a>
    </footer>
    <!-- JavaScript -->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>  

</body>
</html>