*{
    box-sizing:border-box;
}
body{
    font-size: larger;
    margin: 30px 30px;
    padding: 10px;
}
.container{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid gray;
    border-radius: 20px;
}
input[type="text"],input[type="email"],input[type="number"],input[type="password"],input[type="date"],select{
    width: 33%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 15px;
    margin: 10px;
}
H1{
    text-align: center;
    background-color: lightgray;
    border-radius: 15px;
    width: 40%;
    margin-left: 30%;
}
textarea{
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 15px;
}
input[type="reset"],input[type="submit"]{ 
    margin-bottom: 10px;
    padding: 15px 20px;
    border: none;
    background-color: rgb(119, 147, 64);
    color: white;
    border-radius: 15px;
    font-size: 75%;
    cursor: pointer;
    margin-left:43%;
    margin-right: 43%;
}
input[type="radio"],select,input[type="checkbox"]{
    cursor: pointer;
}
input[type="file"]{
    width: 20%;
    margin-bottom: 10px;
    margin-left: 40%;
    padding: 15px 20px;
    border: none;
    background-color: rgb(64, 114, 147);
    color: white;
    border-radius: 15px;
    font-size: 75%;
    cursor: pointer;
}