p{
    color:brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
th,thead{
    background-color: rgba(0, 166, 255, 0.681);
}
tr{
    background-color: rgba(0, 255, 110, 0.609);
}
/*li{
    list-style-type:circle;
}*/
.Special{/*All the elements associated with the special class will have the same properties as assigned to them*/
    color: orange;
}
li.Special{
    color:blue;
    font-weight: bold;
}
#Mera{
    color: brown;
}
li em{
    color:aqua;
}
ol li{
    color:aquamarine;
    padding: 5px;
    background-color: violet;
}
/*Comment One by One and see what happens to revise*/
li[class="a"]{/* Practice math*/
    color:blue;
}
li[class]
{
    background-color: black;
    padding: 5px;
}
if[class~="a"]{
    text-decoration:line-through;
}